<layout>
  <div class="right_col" role="main">
    <div class="container">

      <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active"
             id="ex1-tab-1"
             data-mdb-toggle="tab"
             routerLink="/servicerequest/{{ serviceRequestId }}" routerLinkActive="active"
             role="tab"
             aria-controls="ex1-tabs-1"
             aria-selected="true">ServiceRequest</a>
        </li>
        <!--<li class="nav-item" role="presentation">
          <a class="nav-link" [ngClass]="{ 'disabled': customerId==null }"
             id="ex1-tab-2"
             data-mdb-toggle="tab"
             routerLink="/contactlist/C/{{ customerId }}" routerLinkActive="active"
             role="tab"
             aria-controls="ex1-tabs-2"
             aria-selected="false">Contact</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" [ngClass]="{ 'disabled': customerId==null }"
             id="ex1-tab-3"
             data-mdb-toggle="tab"
             routerLink="/customersitelist/{{ customerId }}" routerLinkActive="active"
             role="tab"
             aria-controls="ex1-tabs-3"
             aria-selected="false">Customer Site</a>
        </li>-->
      </ul>
      <div class="clearfix"></div>

      <div class="col-md-12 col-sm-12 ">
        <form [formGroup]="serviceRequestform" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-sm-3">
              <label for="serreqno">SrNo</label>
              <input type="text" readonly formControlName="serreqno" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.serreqno.errors }" />
              <div *ngIf="submitted && f.serreqno.errors" class="invalid-feedback">
                <div *ngIf="f.serreqno.errors.required">SrNo is required</div>
              </div>
            </div>
            <div class="col-sm-3">
              <label for="distid">Distributor</label>
              <select formControlName="distid" class="form-control" readonly [ngClass]="{ 'is-invalid': submitted && f.distid.errors }">
                <!--<option value="0">--All--</option>-->
                <option *ngFor="let distributor of defaultdistributors" value={{distributor.id}}>
                  {{distributor.distname}}
                </option>
              </select>
              <div *ngIf="submitted && f.distid.errors" class="invalid-feedback">
                <div *ngIf="f.distid.errors.required">Distributor is required</div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3" *ngIf="IsCustomerView==false">
              <label for="assignedTo">Assigned To</label>
              <select formControlName="assignedto" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.assignedto.errors }">
                <!--<option value="0">--All--</option>-->
                <option *ngFor="let c of appendList" value={{c.id}}>
                  {{c.fname}} {{c.lname}}
                </option>
              </select>
              <div *ngIf="submitted && f.assignedto.errors" class="invalid-feedback">
                <div *ngIf="f.assignedto.errors.required">Assigned To is required</div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3">
              <label for="serreqdate">Date</label>
              <input type="text" [readonly]="IsEngineerView" formControlName="serreqdate" bsDatepicker class="form-control" [ngClass]="{ 'is-invalid': submitted && f.serreqdate.errors }" />
              <div *ngIf="submitted && f.serreqdate.errors" class="invalid-feedback">
                <div *ngIf="f.serreqdate.errors.required">Date is required</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-sm-3">
              <label for="visittype">Service Type</label>
              <select formControlName="visittype" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.visittype.errors }">
                <!--<option value="0">--All--</option>-->
                <option *ngFor="let st of serviceTypeList" value={{st.listTypeItemId}}>
                  {{st.itemname}}
                </option>
              </select>
              <div *ngIf="submitted && f.visittype.errors" class="invalid-feedback">
                <div *ngIf="f.visittype.errors.required">Service Type is required</div>
              </div>
            </div>
            <div class="col-sm-3">
              <label for="companyname">Company Name</label>
              <input type="text" readonly formControlName="companyname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.companyname.errors }" />
              <div *ngIf="submitted && f.companyname.errors" class="invalid-feedback">
                <div *ngIf="f.companyname.errors.required">companyName is required</div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3">
              <label for="time">Time</label>
              <input type="time" formControlName="requesttime" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.requesttime.errors }" />
              <div *ngIf="submitted && f.requesttime.errors" class="invalid-feedback">
                <div *ngIf="f.requesttime.errors.required">time is required</div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3">
              <label for="sitename">Site Name</label>
              <input type="text" readonly formControlName="sitename" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sitename.errors }" />
              <div *ngIf="submitted && f.sitename.errors" class="invalid-feedback">
                <div *ngIf="f.sitename.errors.required">siteName is required</div>
              </div>
            </div>
            
          </div>
          <div class="row">
            <div class="col-md-3 col-sm-3">
              <label for="country">Country</label>
              <select formControlName="country" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
                <!--<option value="0">--All--</option>-->
                <option *ngFor="let country of countries" value={{country.id}}>
                  {{country.name}}
                </option>
              </select>
              <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                <div *ngIf="f.country.errors.required">Country is required</div>
              </div>
            </div>
            <div class="col-sm-3">
              <label for="contactperson">contact Person</label>
              <input type="text" readonly formControlName="contactperson" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.contactperson.errors }" />
              <div *ngIf="submitted && f.contactperson.errors" class="invalid-feedback">
                <div *ngIf="f.contactperson.errors.required">contactperson is required</div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3">
              <label for="email">Email</label>
              <input type="email" readonly formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors?.required">Email is required</div>
                <div *ngIf="f.email.errors?.pattern">Please provide valid email</div>
              </div>
            </div>
            <div class="col-sm-3">
              <label for="machinesNo">Machine SerialNo</label>
              <select formControlName="machinesno" class="form-control" #ddlMachine (change)="oninstuchange(ddlMachine.value)" [ngClass]="{ 'is-invalid': submitted && f.machinesno.errors }">
                <!--<option value="0">--All--</option>-->
                <option *ngFor="let i of instrumentList" value={{i.id}}>
                  {{i.serialnos}}
                </option>
              </select>
              <div *ngIf="submitted && f.machinesno.errors" class="invalid-feedback">
                <div *ngIf="f.machinesno.errors.required">machineSerialNo is required</div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-sm-3">
              <label for="operatorname">Operator Name</label>
              <input type="text" readonly formControlName="operatorname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.operatorname.errors }" />
              <div *ngIf="submitted && f.operatorname.errors" class="invalid-feedback">
                <div *ngIf="f.operatorname.errors.required">operatorName is required</div>
              </div>
            </div>
            <div class="col-sm-3">
              <label for="operatornumber">Operator Number</label>
              <input type="text" readonly formControlName="operatornumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.operatornumber.errors }" />
              <div *ngIf="submitted && f.operatornumber.errors" class="invalid-feedback">
                <div *ngIf="f.operatornumber.errors.required">operatorNumber is required</div>
              </div>
            </div>
            <div class="col-sm-3">
              <label for="operatoremail">Operator Email</label>
              <input type="text" readonly formControlName="operatoremail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.operatoremail.errors }" />
              <div *ngIf="submitted && f.operatoremail.errors" class="invalid-feedback">
                <div *ngIf="f.operatoremail.errors.required">operatoremail is required</div>
              </div>
            </div>
            <div class="col-sm-3">
              <label for="machmodelname">Machine Model Name</label>
              <input type="text" readonly formControlName="machmodelname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.machmodelname.errors }" />
              <div *ngIf="submitted && f.machmodelname.errors" class="invalid-feedback">
                <div *ngIf="f.machmodelname.errors.required">machineModelName is required</div>
              </div>
            </div>
           
          </div>
          <div class="row">
            <div class="col-md-3 col-sm-3">
              <label for="xraygenerator">xRayGenerator</label>
              <input type="text" readonly formControlName="xraygenerator" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.xraygenerator.errors }" />
              <div *ngIf="submitted && f.xraygenerator.errors" class="invalid-feedback">
                <div *ngIf="f.xraygenerator.errors?.required">xRayGenerator is required</div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3">
              <label for="machengineer">Machine Engineer</label>
              <input type="text" readonly formControlName="machengineer" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.machengineer.errors }" />
              <div *ngIf="submitted && f.machengineer.errors" class="invalid-feedback">
                <div *ngIf="f.machengineer.errors?.required">machineengineer is required</div>
              </div>
            </div>
            <div class="col-sm-3">
              <label for="breakdowntype">Breakdown Type</label>
              <input type="text" formControlName="breakdowntype" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.breakdowntype.errors }" />
              <div *ngIf="submitted && f.breakdowntype.errors" class="invalid-feedback">
                <div *ngIf="f.breakdowntype.errors.required">breakdownType is required</div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3">
              <label for="isrecurring"></label>
              <div class="checkbox">
                <label for="warranty">
                  <input type="checkbox" formControlName="isrecurring" class="" />
                  Is Recurring
                </label>
              </div>
              <div *ngIf="submitted && f.isrecurring.errors" class="invalid-feedback">
                <div *ngIf="f.isrecurring.errors?.required">isRecurring is required</div>
              </div>
            </div>
           
          </div>
          <div class="row">
            <div class="col-sm-3">
              <label for="recurringcomments">Recurring Comment</label>
              <input type="text" formControlName="recurringcomments" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.recurringcomments.errors }" />
              <div *ngIf="submitted && f.recurringcomments.errors" class="invalid-feedback">
                <div *ngIf="f.recurringcomments.errors.required">Recurring Comment is required</div>
              </div>
            </div>
            <div class="col-sm-3">
              <label for="breakoccurdetailsid">Breakdown Occurance Details</label>
              <select formControlName="breakoccurdetailsid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.breakoccurdetailsid.errors }">
                <!--<option value="0">--All--</option>-->
                <option *ngFor="let st of breakdownlist" value={{st.listTypeItemId}}>
                  {{st.itemname}}
                </option>
              </select>
              <div *ngIf="submitted && f.breakoccurdetailsid.errors" class="invalid-feedback">
                <div *ngIf="f.breakoccurdetailsid.errors.required">breakdownOccuranceDetails is required</div>
              </div>
            </div>
            <div class="col-sm-3">
              <label for="alarmdetails">Alarm Details</label>
              <input type="text" formControlName="alarmdetails" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.alarmdetails.errors }" />
              <div *ngIf="submitted && f.alarmdetails.errors" class="invalid-feedback">
                <div *ngIf="f.alarmdetails.errors.required">Alarm Details is required</div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3">
              <label for="resolveaction">ResolveAction</label>
              <input type="text" formControlName="resolveaction" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.resolveaction.errors }" />
              <div *ngIf="submitted && f.resolveaction.errors" class="invalid-feedback">
                <div *ngIf="f.resolveaction.errors?.required">ResolveAction is required</div>
              </div>
            </div>

            <div class="col-sm-3" *ngIf="IsEngineerView">
              <label for="accepted"></label>
              <div class="checkbox">
                <label for="warranty">
                  <input type="checkbox" formControlName="accepted" class="" />
                  Accepted
                </label>
              </div>
              <div *ngIf="submitted && f.accepted.errors" class="invalid-feedback">
                <div *ngIf="f.accepted.errors.required">accepted is required</div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3" *ngIf="IsDistributorView">
              <label for="serresolutiondate">Resolution Date</label>
              <input type="text" formControlName="serresolutiondate" bsDatepicker class="form-control" [ngClass]="{ 'is-invalid': submitted && f.serresolutiondate.errors }" />
              <div *ngIf="submitted && f.serresolutiondate.errors" class="invalid-feedback">
                <div *ngIf="f.serresolutiondate.errors.required">Resolution is required</div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3">
              <label for="requesttypeid">Request Type</label>
              <select formControlName="requesttypeid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.requesttypeid.errors }">
                <!--<option value="0">--All--</option>-->
                <option *ngFor="let req of reqtypelist" value={{req.listTypeItemId}}>
                  {{req.itemname}}
                </option>
              </select>
              <div *ngIf="submitted && f.requesttypeid.errors" class="invalid-feedback">
                <div *ngIf="f.requesttypeid.errors.required">reqtype is required</div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <label for="subrequesttypeid">SubRequest Type</label>
              <ng-multiselect-dropdown [settings]="dropdownSettings"
                                       [data]="subreqtypelist" formControlName="subrequesttypeid">
              </ng-multiselect-dropdown>
              <div *ngIf="submitted && f.subrequesttypeid.errors" class="invalid-feedback">
                <div *ngIf="f.subrequesttypeid.errors.required">subreqtype is required</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <label for="remarks">Remarks</label>
              <input type="text" formControlName="remarks" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.remarks.errors }" />
              <div *ngIf="submitted && f.remarks.errors" class="invalid-feedback">
                <div *ngIf="f.remarks.errors.required">remarks is required</div>
              </div>
            </div>
            <div class="col-sm-3">
              <label for="currentinstrustatus">Current Instrument Status</label>
              <input type="text" formControlName="currentinstrustatus" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.currentinstrustatus.errors }" />
              <div *ngIf="submitted && f.currentinstrustatus.errors" class="invalid-feedback">
                <div *ngIf="f.currentinstrustatus.errors.required">Current Instrument Status is required</div>
              </div>
            </div>
          </div>
          <br />
          <ul class="nav nav-tabs" id="myTab" role="tablist" *ngIf="IsCustomerView==false">
            <li class="nav-item" *ngIf="IsEngineerView==true">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="{{IsEngineerView}}">Engineer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="{{IsDistributorView}}">Ticket Assigned History</a>
            </li>
            <li class="nav-item" *ngIf="IsEngineerView==true">
              <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Action</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent" *ngIf="IsCustomerView==false">
            <div class="tab-pane fade show active" *ngIf="IsEngineerView" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div class="col-md-12 col-sm-12" style="margin-top: 15px;margin-left: -10px;">
                <button type="button" class="btn btn-sm btn-success button" style="margin: 10px;" (click)="open(serviceRequestId)"><i class="fas fa-plus-circle" title="Add"></i></button>
                <ag-grid-angular style="width: 100%; height: 250px;" (rowClicked)="onRowClicked($event)"
                                 (cellValueChanged)="onCellValueChanged($event)"
                                 class="ag-theme-alpine" (gridReady)="onGridReady($event)"
                                 [columnDefs]="columnDefs" [rowData]="engineerCommentList" rowSelection="single" pagination="true" paginationPageSize=10></ag-grid-angular>
              </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <div class="col-md-12 col-sm-12" style="margin-top: 15px;margin-left: -10px;">
                <ag-grid-angular style="height: 250px;" (rowClicked)="onhisRowClicked($event)"
                                 class="ag-theme-alpine" (gridReady)="historyready($event)"
                                 [columnDefs]="ticketcolumnDefs" [rowData]="ticketHistoryList" rowSelection="single" pagination="true" paginationPageSize=10></ag-grid-angular>
              </div>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" *ngIf="IsEngineerView" aria-labelledby="contact-tab">
              <div class="col-md-12 col-sm-12" style="margin-top: 15px;margin-left: -10px;">
                <button type="button" class="btn btn-sm btn-success button" style="margin: 10px;" (click)="openaction(serviceRequestId)"><i class="fas fa-plus-circle" title="Add"></i></button>
                <ag-grid-angular style="width: 100%; height: 250px;" (rowClicked)="onactionRowClicked($event)" class="ag-theme-alpine" (gridReady)="onGridReady($event)" (cellValueChanged)="onCellValueChanged($event)"
                                 [columnDefs]="actionDefs" [rowData]="actionList" rowSelection="single" pagination="true" paginationPageSize=10></ag-grid-angular>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <label for="pdf" style="margin-right:15px;margin-top:15px;">Document</label>
              <input type='file' id="pdfUpload" multiple accept=".pdf" #filePdfInput (change)="uploadPdfFile($event)" />
            </div>
            <div class="col-md-4 col-sm-4" *ngIf="PdffileData" style="margin-top:4%;">
              <label></label>
              <button type="button" class="btn btn-link" (click)="download()">{{ PdffileData.fileName }}</button>
              <!--<a href="pdfBase64" download="PdffileData.fileName">{{ PdffileData.fileName }}</a>-->
            </div>
          </div>
          <div class="row" *ngIf="PdffileData">
            <div class="col-md-12 col-sm-12" style="margin-top: 15px;margin-left: -10px;">
              <ag-grid-angular style="width: 100%; height: 250px;" class="ag-theme-alpine" (gridReady)="pdfonGridReady($event)" (rowClicked)="onPdfRowClicked($event)"
                               [columnDefs]="pdfcolumnDefs" [rowData]="PdffileData" rowSelection="single" pagination="true" paginationPageSize=5></ag-grid-angular>
            </div>
          </div>
          <hr>
          <div class="row" *ngIf="IsCustomerView"  style="display:none">
            <div class="col-sm-3">
              <label for="">Escalation</label>
              <select formControlName="escalation" class="form-control">
                <!--<option value="0">--All--</option>-->
                <option *ngFor="let i of instrumentList" value={{i.id}}>
                  {{i.serialnos}}
                </option>
              </select>
              <!--<div *ngIf="submitted && f.machinesNo.errors" class="invalid-feedback">
                <div *ngIf="f.machinesNo.errors.required">machineSerialNo is required</div>
              </div>-->
            </div>
          </div>
            <hr />
            <div class="row">
              <div class="col-md-6 col-sm-6" style="padding:10px">
                <button [disabled]="loading" class="btn btn-primary" *ngIf="hasAddAccess==true || hasUpdateAccess==true">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  Submit
                </button>
                <a routerLink="/servicerequestlist" class="btn btn-secondary" style="margin-left:10px;">Back</a>
               <button type="button" class="btn btn-secondary" *ngIf="IsEngineerView==true" style="margin-left:10px;" (click)="generatereport()">Generate report</button>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</layout>
