<layout>
  <div class="right_col" role="main">
    <div class="container">
      <div class="page-title">
        <div class="title_left">
          <h3>Scheduler</h3>
        </div>
      </div>
      <div class="clearfix"></div>
      <hr />

      <div class="col-md-12 col-sm-12 ">
        <button *ngIf="id!=null" class="btn btn-secondary" (click)="onBackclick()"
          style="margin-left:10px;">Back</button>
        <ejs-schedule *ngIf="isEng==true" width='100%' height='100%' #scheduleObj [currentView]="setView"
          (actionBegin)="onActionBegin($event)" (popupOpen)='onPopupOpen($event)' [eventSettings]="eventSettings">
        </ejs-schedule>
        <ejs-schedule *ngIf="isAdmin==true" width='100%' height='100%'></ejs-schedule>
        <!--   -->
        <ejs-schedule *ngIf="isDistSupp==true" width='100%' height='100%' #scheduleObj [views]="views"
          [eventSettings]="eventSettings" [group]='group' (popupOpen)='onPopupOpenDist($event)'>
          <e-resources>
            <e-resource field="OwnerId" title="Owner" name="Owners" [dataSource]="ownerDataSource"
              [allowMultiple]="false" textField='OwnerText' idField='Id' colorField='OwnerColor'>
            </e-resource>
          </e-resources>
        </ejs-schedule>

      </div>
    </div>
  </div>

</layout>