<layout [isNewSetUp]="isNewSetup" [showNavs]="!isNewSetup">
  <div class="right_col" role="main">
    <div class="container">
      <div class="clearfix"></div>

      <div class="col-md-12 col-sm-12 ">

        <div class="page-title">
          <div class="title_left" style="display: flex; justify-content: space-between;">
            <div class="d-flex" style="align-items: center;">
              <h3>Contact Details </h3>
            </div>

            <div class="controls" style="display: flex;">
              <a (click)="Back()" class="nav-link" *ngIf="!(isNewSetup && type=='D')">
                <i class="fas fa-arrow-left" style="color: #5ba146;" title="Back"></i>
              </a>
              <a class="nav-link" (click)="EditMode()" *ngIf="hasUpdateAccess && !isEditMode && !isNewMode">
                <i class="fas fa-pen" style="color: #5ba146;" title="Edit"></i>
              </a>

              <a class="nav-link" (click)="CancelEdit()"
                *ngIf="(isEditMode || isNewMode) && !(isNewSetup && type=='D')">
                <i class="fas fa-times" style="color: #5ba146;" title="Cancel"></i>
              </a>

              <a class="nav-link" (click)="onSubmit(false)"
                *ngIf="(hasUpdateAccess || hasAddAccess) && (isEditMode || isNewMode)">
                <i class="fas fa-save" style="color: #5ba146;" title="Save"></i>
              </a>

              <a class="nav-link" (click)="DeleteRecord()"
                *ngIf="hasDeleteAccess && !isNewMode && !(isNewSetup && type=='D')">
                <i class="fas fa-trash" style="color: #5ba146;" title="Delete"></i>
              </a>
              <button [disabled]="isUser" (click)="addUser()"
                *ngIf="(hasUpdateAccess || hasAddAccess) && id != null && !isEditMode" class="nav-link btn">
                <i class="fas fa-user" style="color: #5ba146;" title="Add User"></i>
              </button>
            </div>
          </div>

          <div class="clearfix"></div>
          <hr />
          <form [formGroup]="contactform" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-sm-4">
                <label for="parentEntity">{{label}}</label>
                <input type="text" disabled formControlName="parentEntity" class="form-control"
                  [ngClass]="{ 'is-invalid': f.parentEntity.touched && f.parentEntity.errors }" />
                <div *ngIf="f.parentEntity.touched && f.parentEntity.errors" class="invalid-feedback">
                  <div *ngIf="f.parentEntity.errors.required">First Name is required</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <label for="fname">First Name<span class="text-danger">*</span></label>
                <input type="text" formControlName="fname" class="form-control"
                  [ngClass]="{ 'is-invalid': f.fname.touched && f.fname.errors }" />
                <div *ngIf="f.fname.touched && f.fname.errors" class="invalid-feedback">
                  <div *ngIf="f.fname.errors.required">First Name is required</div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <label for="mname">Middle Name <span class="text-danger">*</span></label>
                <input type="text" formControlName="mname" class="form-control" />
                <div *ngIf="f.mname.touched && f.mname.errors" class="invalid-feedback">
                  <div *ngIf="f.mname.errors.required">Middle Name is required</div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <label for="lname">Last Name<span class="text-danger">*</span></label>
                <input type="text" formControlName="lname" class="form-control"
                  [ngClass]="{ 'is-invalid': f.lname.touched && f.lname.errors }" />
                <div *ngIf="f.lname.touched && f.lname.errors" class="invalid-feedback">
                  <div *ngIf="f.lname.errors.required">Last Name is required</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-sm-4">
                <label for="pcontactno">Primary mobile phone number</label><br />
                <input type="tel" ng2TelInput phoneInput formControlName="pcontactno" class="form-control"
                  maxlength="15" (ng2TelOutput)="getNumber($event)" (intlTelInputObject)="telInputObject($event)"
                  (countryChange)="countryChange($event)"
                  [ngClass]="{ 'is-invalid': f.pcontactno.touched && f.pcontactno.errors }" />
                <!--<input type="tel" formControlName="pcontactno" class="form-control"
                     maxlength="10" [ngClass]="{ 'is-invalid': f.place.touched && f.pcontactno.errors }" />-->
                <div *ngIf="f.pcontactno.touched && f.pcontactno.errors" class="invalid-feedback">
                  <div *ngIf="f.pcontactno.errors?.required">Primary Contact No is required</div>
                  <div *ngIf="f.pcontactno.errors?.maxlength">Max length is 13</div>
                  <!--<div *ngIf="f.pcontactno.errors?.minlength">Min length is 10</div>-->
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <label for="pemail">Primary E-mail<span class="text-danger">*</span></label>
                <input type="email" formControlName="pemail" class="form-control"
                  [ngClass]="{ 'is-invalid': f.pemail.touched && f.pemail.errors }" />
                <div *ngIf="f.pemail.touched && f.pemail.errors" class="invalid-feedback">
                  <div *ngIf="f.pemail.errors?.required">Primary E-mail is required</div>
                  <div *ngIf="f.pemail.errors?.pattern">Please provide valid E-mail</div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <label for="scontactno">Secondory Contact No</label><br />
                <input type="tel" ng2TelInput formControlName="scontactno" (ng2TelOutput)="getNumber($event)"
                  (intlTelInputObject)="telInputObjectCo($event)" (countryChange)="countryChange2($event)"
                  class="form-control" maxlength="15"
                  [ngClass]="{ 'is-invalid': f.scontactno.touched && f.scontactno.errors }" />
                <div *ngIf="f.scontactno.touched && f.scontactno.errors" class="invalid-feedback">
                  <div *ngIf="f.scontactno.errors.required">Secondory Contact No is required</div>
                  <div *ngIf="f.scontactno.errors?.maxlength">Max length is 13</div>
                  <!--<div *ngIf="f.scontactno.errors?.minlength">Min length is 10</div>-->
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-sm-4">
                <label for="whatsappNo">WhatsApp No</label><br />
                <input type="tel" ng2TelInput formControlName="whatsappNo" (ng2TelOutput)="getNumber($event)"
                  (intlTelInputObject)="telInputObjectCow($event)" (countryChange)="countryChange2w($event)"
                  class="form-control" maxlength="15"
                  [ngClass]="{ 'is-invalid': f.whatsappNo.touched && f.scontactno.errors }" />
                <div *ngIf="f.whatsappNo.touched && f.whatsappNo.errors" class="invalid-feedback">
                  <div *ngIf="f.whatsappNo.errors.required">WhatsApp No is required</div>
                  <div *ngIf="f.whatsappNo.errors?.maxlength">Max length is 13</div>
                  <!--<div *ngIf="f.scontactno.errors?.minlength">Min length is 10</div>-->
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <label for="semail">Secondory Email</label>
                <input type="email" formControlName="semail" class="form-control"
                  [ngClass]="{ 'is-invalid': f.semail.touched && f.semail.errors }" />
                <div *ngIf="f.semail.touched && f.semail.errors" class="invalid-feedback">
                  <!-- <div *ngIf="f.semail.errors?.required">Secondory Email is required</div> -->
                  <div *ngIf="f.semail.errors?.pattern">Please provide valid email</div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <label for="designationid">Designation<span class="text-danger">*</span></label>
                <select formControlName="designationid" class="form-select"
                  [ngClass]="{ 'is-invalid': f.designationid.touched && f.designationid.errors }">
                  <!--<option value="0">--All--</option>-->
                  <option *ngFor="let designation of listTypeItems" value={{designation.listTypeItemId}}>
                    {{designation.itemname}}
                  </option>
                </select>
                <!--<input type="text" formControlName="designation" class="form-control" [ngClass]="{ 'is-invalid': f.place.touched && f.designation.errors }" />-->
                <div *ngIf="f.designationid.touched && f.designationid.errors" class="invalid-feedback">
                  <div *ngIf="f.designationid.errors.required">Designation is required</div>
                </div>
              </div>
            </div>

            <div class="page-title">
              <div class="title_left">
                <h3 style="padding:15px 0 5px 0">Address</h3>
              </div>
            </div>
            <div class="clearfix"></div>
            <hr />

            <div formGroupName="address">
              <div class="row">
                <div class="col-sm-4">
                  <label for="street">Street<span class="text-danger">*</span></label>
                  <input type="text" formControlName="street" class="form-control"
                    [ngClass]="{ 'is-invalid':a.street.touched && a.street.errors }" />
                  <div *ngIf="a.street.touched && a.street.errors" class="invalid-feedback">
                    <div *ngIf="a.street.errors.required">Street is required</div>
                  </div>
                </div>
                <!-- <div class="col-sm-4">
                  <label for="area">Area<span class="text-danger">*</span></label>
                  <input type="text" formControlName="area" class="form-control"
                    [ngClass]="{ 'is-invalid': a.area.touched && a.area.errors }" />
                  <div *ngIf="a.area.touched && a.area.errors" class="invalid-feedback">
                    <div *ngIf="a.area.errors.required">Area is required</div>
                  </div>
                </div> -->
                <div class="col-sm-4">
                  <label for="city">City<span class="text-danger">*</span></label>
                  <input type="text" formControlName="city" class="form-control"
                    [ngClass]="{ 'is-invalid': a.city.touched && a.city.errors }" />
                  <div *ngIf="a.city.touched && a.city.errors" class="invalid-feedback">
                    <div *ngIf="a.city.errors.required">City is required</div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <label for="place">State<span class="text-danger">*</span></label>
                  <input type="text" formControlName="place" class="form-control"
                    [ngClass]="{ 'is-invalid': a.place.touched && a.place.errors }" />
                  <div *ngIf="a.place.touched && a.place.errors" class="invalid-feedback">
                    <div *ngIf="a.place.errors.required">Place is required</div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <label for="countryid">Country<span class="text-danger">*</span></label>
                  <select formControlName="countryid" class="form-select"
                    [ngClass]="{ 'is-invalid': a.countryid.touched && a.countryid.errors }">
                    <!--<option value="0">--All--</option>-->
                    <option *ngFor="let country of countries" value={{country.id}}>
                      {{country.name}}
                    </option>
                  </select>
                  <div *ngIf="a.countryid.touched && a.countryid.errors" class="invalid-feedback">
                    <div *ngIf="a.countryid.errors.required">Country is required</div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <label for="zip">Zip</label>
                  <input type="tel" maxlength="10" formControlName="zip" class="form-control"
                    [ngClass]="{ 'is-invalid': a.zip.touched && a.zip.errors }" />

                  <div *ngIf="a.zip.touched && a.zip.errors" class="invalid-feedback">
                    <div *ngIf="a.zip.errors.required">Zip is required</div>
                    <div *ngIf="a.zip.errors?.minlength">Min length is 4</div>
                    <div *ngIf="a.zip.errors?.maxlength">Max length is 15</div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <label for="geolat">Latitude</label>
                  <input type="text" formControlName="geolat" class="form-control" value="0"
                    [ngClass]="{ 'is-invalid': a.geolat.touched && a.geolat.errors }" />
                  <div *ngIf="a.geolat.touched && a.geolat.errors" class="invalid-feedback">
                    <div *ngIf="a.geolat.errors.required">Latitude is required</div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <label for="geolong">Longitude</label>
                  <input type="text" formControlName="geolong" class="form-control" value="0"
                    [ngClass]="{ 'is-invalid': a.geolong.touched && a.geolong.errors }" />
                  <div *ngIf="a.geolong.touched && a.geolong.errors" class="invalid-feedback">
                    <div *ngIf="a.geolong.errors.required">Longitude is required</div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</layout>