<div class="wrapper" style="height: 618px;">
  <app-loader *ngIf="showSpinner"
    style="position: absolute;top: 40%;left: 50%;transform: translate(50%, 50%);z-index: 60;"></app-loader>

  <app-nav-sidemenu></app-nav-sidemenu>
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <app-notificationspopup (popUpClosed)="popUpClosed($event)" (closePopup)="Notifications($event)"
        *ngIf="shownotifications"></app-notificationspopup>
      <app-nav-menu [isClosed]="isClosed" (showNotifications)="Notifications($event)"></app-nav-menu>
      <div class=" container-fluid">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
  <div class="overlay toggle-icon"></div>
</div>