<layout *ngIf="!isDialog">
    <div class="right_col" role="main">
        <div class="container">
            <div class="page-title">
                <div class="title_left" style="display: flex; justify-content: space-between;">
                    <div class="d-flex" style="align-items: center;">
                        <h3>Company</h3>
                    </div>

                    <div class="controls" style="display: flex;">
                        <a (click)="Back()" class="nav-link">
                            <i class="fas fa-arrow-left" style="color: #5ba146;" title="Back"></i>
                        </a>
                        <a class="nav-link" (click)="EditMode()" *ngIf="!isEditMode && !isNewMode">
                            <i class="fas fa-pen" style="color: #5ba146;" title="Edit"></i>
                        </a>

                        <a class="nav-link" (click)="CancelEdit()" *ngIf="(isEditMode || isNewMode)">
                            <i class="fas fa-times" style="color: #5ba146;" title="Cancel"></i>
                        </a>

                        <a class="nav-link" (click)="onSubmit()" *ngIf="(isEditMode || isNewMode)">
                            <i class="fas fa-save" style="color: #5ba146;" title="Save"></i>
                        </a>

                        <a class="nav-link" (click)="DeleteRecord()" *ngIf="user.isSuperAdmin && !isNewMode">
                            <i class="fas fa-trash" style="color: #5ba146;" title="Delete"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <hr />
            <div class="col-md-12 col-sm-12">
                <form [formGroup]="Form" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Company</label>
                            <input formControlName="companyName" class="form-control"
                                [ngClass]="{ 'is-invalid': f.companyName.touched  && f.companyName.errors }" />

                            <div *ngIf=" f.companyName.touched && f.companyName.errors" class="invalid-feedback">
                                <div *ngIf="f.companyName.errors.required">Company is required</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label>Company Email</label>
                            <input formControlName="companyEmail" class="form-control" type="email"
                                [ngClass]="{ 'is-invalid': f.companyEmail.touched  && f.companyEmail.errors }" />

                            <div *ngIf=" f.companyEmail.touched && f.companyEmail.errors" class="invalid-feedback">
                                <div *ngIf="f.companyEmail.errors.required">Company Email is required</div>
                                <div *ngIf="f.companyEmail.errors.email">Not a valid E-Mail Id</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</layout>


<div class="modal" style="display: block" id="modal" role="dialog" *ngIf="isDialog">
    <div class="modal-dialog" style="width: 95vw;height: 50vh;">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #53a446 !important; color: #fff">
                <h4 class="modal-title" id="modal-basic-title">Create Company</h4>
            </div>

            <div class="modal-body" style="height: 250px;">
                <div class="py-3 px-3-pb-3">
                    <div class="container">
                        <form [formGroup]="Form" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Company</label>
                                    <input formControlName="companyName" class="form-control"
                                        [ngClass]="{ 'is-invalid': f.companyName.touched  && f.companyName.errors }" />

                                    <div *ngIf=" f.companyName.touched && f.companyName.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="f.companyName.errors.required">Company is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <label>Company Email</label>
                                    <input formControlName="companyEmail" class="form-control"
                                        [ngClass]="{ 'is-invalid': f.companyEmail.touched  && f.companyEmail.errors }" />

                                    <div *ngIf=" f.companyEmail.touched && f.companyEmail.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="f.companyEmail.errors.required">Company Email is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <button class="btn btn-primary" type="submit"
                                        style="background-color: #53a446;border: #53a446;">Next</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>